.col-lg-8
{
    padding: 100px;
    box-shadow: 1px 10px rgb(122, 120, 120);
}
.col-lg-4
{
    padding: 100px;
    box-shadow: 1px 10px rgb(122, 120, 120);
    
}
.Product
{
    padding: 50px;
    text-align: center !important;
    box-shadow: 1px 10px rgb(122, 120, 120);
}
.col-md-3
{
    padding: 100px;
}

