.navbar-light{
    background-color: rgb(213, 214, 214);
    padding: 0.5rem;
    
}

.navbar-brand
{
   text-align: left;
}
.nav-item{
    margin-left: 100px;
    font-size: large;
    text-align: right;
   font-weight: 500;
}